.forgot-body {
  background-color: #FFF9DE;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.forgot-container {
  width: 400px;
  padding: 40px;
  background-color: #FFF9DE;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.logo {
  width: 250px;
  margin-bottom: 20px;
}

.forgot-container h1 {
  font-size: 2rem;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 1rem;
  outline: none;
  padding-left: 15px;
}

.next-btn {
  margin-top: 10px;
  background-color: #b8cd9d;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 1rem;
  padding: 10px;
  cursor: pointer;
}

.next-btn:hover {
  background-color: #a3bc8b;
}

.back-btn {
  margin-top: 10px;
  background-color: #FF6969;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 1rem;
  padding: 10px;
  cursor: pointer;
}

.back-btn:hover {
  background-color: #e85b5b;
}