/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.reset-body {
  background-color: #FFF9DE;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.reset-container {
  width: 100%;
  max-width: 600px;
  padding: 30px;
  text-align: center;
  position: relative;
}

.logo {
  width: 250px;
  margin-bottom: 20px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 30px;
}

form {
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 0.95rem;
  font-weight: 500;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 1rem;
}

.requirements {
  font-size: 0.85rem;
  margin-bottom: 20px;
  line-height: 1.5;
  color: #333;
}

.requirements ul {
  padding-left: 20px;
  margin: 5px 0 10px 0;
}

.reset-btn {
  width: 100%;
  padding: 12px;
  background-color: #B5CF9A;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 15px;
  transition: background-color 0.3s ease;
}

.reset-btn:hover {
  background-color: #9bbd85;
}

.back-btn {
  margin-top: 10px;
  padding: 12px;
  width: 100%;
  background-color: #FF6969;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease
}


.back-btn:hover {
  background-color: #e85b5b;
}